{% extends 'base.html' %}

{% block content %}
<div class="container my-5" style="max-width: 500px;">
  <button type="button" class="btn-close" aria-label="Close"></button>
  <h1 class="mb-4 text-center fw-bold">Забронювати кімнату</h1>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100 mt-3">Забронювати</button>
  </form>
</div>
{% endblock %}
