{% extends 'base.html' %}

{% block content %}
<div class="welcome-container">
  <h1>Головна сторінка</h1>
  <div class="username">Ласкаво просимо, {{ request.user.username }}!</div>

  <a href="{% url 'my_bookings' %}" class="btn btn-custom">Мої бронювання</a>
  <a href="{% url 'create_booking' %}" class="btn btn-custom">Забронювати кімнату</a>
  <a href="{% url 'rooms_list' %}" class="btn btn-custom">Всі кімнати</a>
  <a href="{% url 'logout' %}" class="btn btn-custom">Вийти</a>
</div>
{% endblock %}
