{% extends 'base.html' %}

{% block content %}
        <button type="button" class="btn-close" aria-label="Close"></button>
        <h2>Всі кімнати</h2>
        <div class="row justify-content-center g-4">
            {% for room in rooms %}
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="card">
                    {% if room.image %}
                        <img src="{{ room.image.url }}" class="card-img-top" alt="{{ room.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/250x180?text=No+Image" class="card-img-top" alt="No image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ room.name }}</h5>
                        <p class="card-text">
                            <strong>Опис:</strong> {{ room.description }}
                        </p>
                        <p class="card-info"><strong>Вмістимість:</strong> {{ room.capacity }} чол</p>
                        <p class="card-info"><strong>Ціна:</strong> {{ room.price }} грн</p>
                        <p class="card-info"><strong>Тип:</strong> {{ room.type_id }}</p>
                        <a href="{% url 'create_booking' %}?room_id={{ room.id }}" class="btn btn-primary btn-sm">Забронювати</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
